<h1><%= @event.title %></h1>
<ul>
  <li><strong> Date</strong><%= @event.event_date %>
  <li><strong> Location</strong><%= @event.location %>
</ul>
<%= form_with model: @invitation, url: "/invitations" do | form | %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit "Join the event" %>
<% end %>