<h1><%= @event.title %></h1>
<ul>
  <li><strong> Date</strong><%= @event.event_date %>
  <li><strong> Location</strong><%= @event.location %>
</ul>
<h5>Guest's list:</h5>
<ol>
  <% @event.attendees.each do | attendee | %>
    <li><small><%= attendee.username %></small>
  <% end %>
</ol>
<% if user_signed_in? %>
  <% if current_user == @event.creator %>
    <%= form_with model: @invitation, url: "/invitations" do | form | %>
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.label :user_id, "Username's guest to invite: "  %>
      <%= form.text_field :user_id %>
      <%= form.submit "Send invitation" %>
    <% end %>
    <%= link_to 'Edit this event', edit_event_path(@event) %>
    <%= link_to 'Delete this event', event_path(@event),
                                    method: :delete,
                                    data: { confirm: 'Are you sure you want to delete the event?' }  %>
  <% end %>
  <% if current_user.attended_events.include?(@event) %>
    <%= link_to 'Exit the event', invitation_path(@event.invitations.find { |invitation| invitation.event_id == @event.id }.id),
                                    method: :delete,
                                    data: { confirm: 'Are you sure you want to quit the event?' }  %>
  <% end %>
<% else %>
  <button disabled="disabled">You must sign in to join the event</button>
<% end %>
