<h1><%= @event.title %></h1>
<ul>
  <li><strong> Date</strong><%= @event.event_date %>
  <li><strong> Location</strong><%= @event.location %>
</ul>
<h5>Guest's list:</h5>
<ol>
  <% @event.attendees.each do | attendee | %>
    <li><small><%= attendee.username %></small>
  <% end %>
</ol>
<% if user_signed_in? %>
  <%= form_with model: @invitation, url: "/invitations" do | form | %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join the event" %>
  <% end %>
<% else %>
  <button disabled="disabled">You must sign in to join the event</button>
<% end %>
